<div class="container d-flex flex-column justify-content-center align-items-center">
<h4 style="color: #ac3e18; font-family: 'Courier New', Courier, monospace;
" class="text-center fw-bold mt-5">OOPS! SOMETHING WENT WRONG</h4>
<div class="d-flex justify-content-center align-items-center">
    <img src="https://shorturl.at/W44nB" style="height: 400px; width: 450px;" alt="500-Error-Image">
</div>
<h4 class="text-center fw-bold" style="color: #ac3e18; font-family: 'Courier New', Courier, monospace;
">500 Internal Server Error</h4> 
</div>