<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow-lg" style="width: 350px;" style="background: linear-gradient(to bottom, #9EBC8A, #537D5D);">
      <div class="card-body">
        <img
                src="https://png.pngtree.com/png-vector/20230518/ourmid/pngtree-green-plant-logo-vector-png-image_7101352.png"
            alt="AgroLink Logo" class="mb-3" style="width: 80px; height: auto;">
        <h4 class="text-center">Forgot Password?</h4>
        <p class="text-muted text-center">Enter your email to reset your password</p>
  
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
          <div class="form-group mb-3">
            <input type="email" class="form-control" formControlName="email" placeholder="Enter your email" required>
            <div class="text-danger mt-1" *ngIf="forgotPasswordForm.controls['email'].invalid && forgotPasswordForm.controls['email'].touched">
              Please enter a valid email address.
            </div>
          </div>
  
          <button type="submit" class="btn btn-primary w-100" [disabled]="forgotPasswordForm.invalid">Send Reset Link</button>
        </form>
      </div>
    </div>
  </div>