/* .cropform{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cropcard{
    width: 350px;
} */

.container {
  background-color: #f9fbe7;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #2e7d32;
}

.btn-primary {
  background-color: #2e7d32;
  border-color: #2e7d32;
}

.btn-primary:hover {
  background-color: #1b5e20;
  border-color: #1b5e20;
}

  