<nav class="navbar navbar-expand-lg shadow-sm">
    <div class="container-fluid">
        <h4 class="mb-0">
            <a class="navbar-brand fw-bold fs-4 px-3 py-2 rounded text-white text-decoration-none">
                AgroLink
            </a>
        </h4>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav align-items-center gap-3">
                <li class="nav-item">
                    <span class="btn btn-outline-light fw-medium">seller | Seller</span>
                </li>
                <li class="nav-item">
                    <a routerLink="/seller/home-page"
                        class="nav-link fw-medium px-3 py-2 text-white rounded hover-bg-light">
                        Home
                    </a>
                </li>

                <!-- <li class="nav-item dropdown">
                    <a class="nav-link fw-medium px-3 py-2 text-white rounded hover-bg-light" id="agrochemicalDropdown"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        AgroChemical
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="agrochemicalDropdown">
                        <li>
                            <a class="dropdown-item" routerLink="/seller/agrochemical-form">AgroChemical Form</a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="/seller/view-agrochemical">View AgroChemicals</a>
                        </li>
                    </ul>
                </li> -->

                <li class="nav-item">
                    <select class="form-select fw-medium px-3 py-2 text-white bg-transparent border-0" style="width: auto;" aria-label="Crop selection" (change)="navigate($event)">
                      <option selected disabled>AgroChemical</option>
                      <option value="agrochemical-form" style="color: black;">AgroChemical Form</option>
                      <option value="view-agrochemical" style="color: black;">View AgroChemicals</option>
                    </select>
                  </li>

                <li class="nav-item">
                    <a routerLink="/seller/view-requests"
                        class="nav-link fw-medium px-3 py-2 text-white rounded hover-bg-light">
                        Request
                    </a>
                </li>
                <li class="nav-item">
                    <button class="btn btn-danger fw-medium px-3 py-2 rounded" (click)="logout()">
                        Logout
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>