<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow-lg" style="width: 350px;" style="background: linear-gradient(to bottom, #9EBC8A, #537D5D);">
      <div class="card-body">
        <h4 class="text-center">Reset Password</h4>
        <p class="text-muted text-center">Enter your new password below</p>
  
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
          <div class="form-group mb-3">
            <label for="newPassword" class="form-label w-100">New Password
              <div class="input-group">
                <input type="password" class="form-control my-2" formControlName="newPassword" id="newPassword" placeholder="Enter new password" required>
                <button type="button" class="btn btn-outline-secondary" >
                  <i class="fa fa-eye"></i>
                </button>
              </div>
              <div class="text-danger mt-1" *ngIf="resetPasswordForm.controls['newPassword'].invalid && resetPasswordForm.controls['newPassword'].touched">
                Password is required.
              </div>
            </label>
          </div>
  
          <div class="form-group mb-3">
            <label for="confirmPassword" class="form-label w-100">Confirm Password
              <div class="input-group">
                <input type="password" class="form-control my-2" formControlName="confirmPassword" id="confirmPassword" placeholder="Confirm password" required>
                <button type="button" class="btn btn-outline-secondary">
                  <i class="fa fa-eye"></i>
                </button>
              </div>
              <div class="text-danger mt-1" *ngIf="resetPasswordForm.controls['confirmPassword'].invalid && resetPasswordForm.controls['confirmPassword'].touched">
                Confirmation is required.
              </div>
            </label>
          </div>
  
          <button type="submit" class="btn btn-primary w-100" [disabled]="resetPasswordForm.invalid">Reset Password</button>
        </form>
      </div>
    </div>
  </div>