<nav class="navbar navbar-expand-lg shadow-sm">
  <div class="container-fluid ">
    <h4 class="mb-0">
      <a routerLink="/" class="navbar-brand fw-bold fs-4 px-3 py-2 rounded text-white text-decoration-none">AgroLink</a>
    </h4>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav align-items-center gap-3">
        <li class="nav-item">
          <span class="btn btn-outline-light fw-medium">user | User</span>
        </li>
        <li class="nav-item">
          <a routerLink="farmer/home-page"
            class="nav-link  fw-medium px-3 py-2 text-white rounded hover-bg-light">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link fw-medium px-3 py-2 text-white rounded hover-bg-light" href="#" id="cropDropdown"
            role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Crop
          </a>
          <ul class="dropdown-menu" aria-labelledby="cropDropdown">
            <li>
              <a class="dropdown-item" routerLink="/farmer/crop-form/:id">Crop Form</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/farmer/view-crop/:id">View Crops</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a routerLink="/farmer/view-agrochemical/:id"
            class="nav-link  fw-medium px-3 py-2 text-white rounded hover-bg-light">AgroChemicals</a>
        </li>
        <li class="nav-item">
          <a routerLink="/farmer/my-requests" class="nav-link fw-medium px-3 py-2 text-white rounded hover-bg-light">My
            Requests</a>
        </li>
        <li class="nav-item">
          <button class="btn btn-danger fw-medium px-3 py-2 rounded" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>