<app-farmer-navbar *ngIf="user.role === 'farmer'"></app-farmer-navbar>
<app-seller-navbar *ngIf="user.role === 'seller'"></app-seller-navbar>
<div class="heading mt-4">
    <h1 class="title-text">AgroLink</h1>
</div>
<div class="container-fluid d-flex justify-content-center align-items-center my-4">
    <div class="card shadow col-md-10 col-lg-8 p-4">
        <div card-body text-center>
            <p>Your journey to better farming begins with us. Our platform offers a seamless process for managing crops, agrochemicals, and feedback. Start today and get one step closer to enhancing your agricultural practices.</p>
        </div>
    </div>
</div>
 
<div class="footerContainer d-flex flex-column justify-content-center align-items-center">
    <h2>Contact Us</h2>
    <p style ="color:black"><strong>Email: support&#64;agrolink.com</strong></p>
    <p style ="color:black"><strong>Phone: 123-456-7890</strong></p>
</div>